<html>
  <head>
    <script type="text/javascript" src="/static/bundle/bundle.js"></script>
    <title>Sample Website</title>
    <style>
      h2 {
        padding-bottom: .5em;
      }
    </style>
  </head>

  <body>

  <div class="ui large grey inverted top fixed menu" style="z-index: 500;">
    <div id="dashboard-main-menu-icon" class="ui link item">
      <i class="grid layout icon"></i>
    </div>
    <a href="/" class="header item">
      Header Item
    </a>

    <a href="/terminal" class="header item">
      Terminal
    </a>
    <div class="right menu">
      <div id="notification-applet-icon" class="link icon item">
        <i class="announcement icon"></i>
      </div>
      <div id="dashboard-userapplet-icon" class="link item">
        <a href="/logout">
          Logout
        </a>
      </div>
    </div>
  </div>

  <div class="ui grid">
    <div class="centered eight wide column">
      <h1 class="ui center aligned icon header" style="padding: 1em 0 0 0;">
        Sample Website
      </h1>
    </div>
  </div>

  <div class="ui container">
  </div>

  <div id="modalScreen" class="ui fullscreen modal">
    <div class="header">Model Header</div>
    <div class="content">Model Content</div>
  </div>

  <script type="text/javascript" src="/static/main.js"></script>
  <script type="text/javascript">
    initMainIndex();
  </script>

  </body>

</html>


