default:
  debug: true
  demo: true
  log:
      level: 100
  email:
      from: test@example.com
      host: localhost
  flask:
      host: 0.0.0.0
      port: 5000
      scheme: 'http'
      secret_key: '{{rand_hex(32)}}'
      wamp:
        cookie_fname: '{{cookie_value}}.json'
        cookie_name: zfwid
        realm: izaber
  osso:
      users:
          admin:
              password: '{{rand_hex(5)}}'
              admin: true
          user:
              password: '{{rand_hex(5)}}'
              admin: false

